@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2 !important;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #323468;
    padding: 0.4rem 0.8rem;
    transition: all .5s ease;
    z-index: 99;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer; 
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: .8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: .8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0, .2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 99;
    opacity: 0;
    transition: .3s ease-out;
    white-space: nowrap; 
    
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    background-color: white;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all .5 ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.container-announcement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.announcement-logs {
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
}

.announcement-logs #announcement-list {
    list-style-type: none;
}

.announcement {
    color: #fff;
    background-color: #323468;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.announcement:hover {
    opacity: 0.8;
    background-color: #f2f2f2;
    border: 3px solid #323468;
    color: #323468;
}

.announcement:hover .sender-img{
    border: 2px solid #323468;
}

.header {
    color: #323468;
    font-size: xx-large;
    padding: 15px;
}

.search {
    display: inline-block;
    justify-content: space-between; 
    margin-bottom: 10px;
    float:right;
}

.search #search-bar {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #323468;
}

.announcement .announcement-details {
    display: inline-block;
    float:right;
    text-align: right;
}

.announcement .announcement-header {
    display: inline-block;
    margin-left: 10px;
}

.announcement h3 {
    display: inline;
}

.sender-icon {
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: top;
}

.sender-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #fff;
}

.announcement-logs a {
    text-decoration: none;
}

.toaster{
    position:fixed;
    bottom:0;
    right:0;
    padding:1.5rem;
    z-index:2;
    background-color:#323468;
    margin-right:1rem;
    margin-bottom:1rem;
    border-radius:50%;
    opacity:100%;
    transition:opacity 150ms ease-in-out;
}
.toaster:hover{
    opacity:75%;
    cursor:pointer;
}
.toaster i {
    font-size:1.3rem;
    color:white;
}

.card{
    display:flex;
    background-color:white;
    width:100%;
    height:80vh;
    border-radius:10px;
    margin-top: 2em;
} 
.card .card-sidenav{
    width:20%;
    height:100%;
    border-right:1px solid #dddddd;
    display:flex;
    flex-direction:column;
}
.card .card-content{
    width:80%;
}
.student-info,.parent-info{
    padding:1.3em;
    display:flex;
    flex-direction:column;
    visibility:visible;
}
.student-info .field-group,.parent-info .field-group{
    display:flex;
    margin-top:1em;
}
.student-info .field-group .input-group,.parent-info .field-group .input-group{
    width:45%;
    display:flex;
    flex-direction:column;
}
.field-group .input-group input{
    width:95%;
    display:flex;
    flex-direction:column;
    padding-left:.5em;
    height:2.3em;
    font-size:1.1rem;
    color:gray;
    border:1px solid #dddddd;
    border-radius:10px;
}
.field-group .input-group label{
    font-size:1.2rem;
}
.card-sidenav .avatar-container{
    display:flex;
    flex-direction:column;
    padding:1.3em;
    height:50%;
    align-items: center;
}
.avatar-container img{
    width:70%;
    height:70%;
    border-radius:50%;
}
.avatar-container p{
    font-size:1.2rem;
}
.link-student-container,.link-parent-container{
    font-size:1.2rem;
    text-align: center;
    padding:1.3em;
    cursor:pointer
}
.selected{
    background-color:#51558f;
    color:white;
}
.hide{
    visibility:hidden;
    position:absolute;
}
@media(max-width:1024px){
    .card .card-sidenav{
        width:30%;
        height:100%;
        border-right:1px solid #dddddd;
        display:flex;
        flex-direction:column;
    }
}

.log-body{
    background-color: #f2f2f2;
    margin: 1em;
    padding: 0;
    display: flex;

}
.log-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-container {
    background-color: #323468;
    color: #fff;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
}

.filter-container label {
    margin-right: 10px;
}

.filter-container input[type="date"] {
    margin-right: 10px;
}

.filter-container button {
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.attendance-type {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.attendance-type th,
.attendance-type td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.attendance-type th {
    background-color: #323468;
    color: #fff;
}

.attendance-type tr:nth-child(even) {
    background-color: #f9f9f9;
}

.attendance-type tr:hover {
    background-color: #f1f1f1;
}

.container{
    padding-top: 2em;
    margin-top:1em;
    display: block;
    margin: 1em;
}
.fa-chevron-right{
    opacity:0;
}
.fa-chevron-right.show-arrow{
    opacity:1;
}
.selector{
    color:#323468;
    padding:1.2em;
    display:flex;
    justify-content: space-evenly;
    border-bottom:1px solid #c4c4c4;
}
.selector:hover{
    border-left:5px solid #323468;
    cursor:pointer;
}
.selector.active-div{
    border-left:5px solid #323468;
}
.employee-container {
    width: 100%;
    padding:1em;
    background-color:white;
    opacity:1;
    border-radius:5px;
    transition: opacity 400ms ease-in-out;
}
.field-group{
    margin-top:2em;
    display:flex;
}
#container-title{
    font-weight: 400;
    border-bottom:1px solid #dedede;
    color:#323468;
}
.input-group{
    padding:.8em;
    width:25%;
    display:flex;
    flex-direction:column;
}
.input-group-special{
    padding:.8em;
    width:50%;
    display:flex;
    flex-direction:column;
}
.input-group-single{
    padding:.8em;
    width:75%;
    display:flex;
    flex-direction:column;
}
.input-group .input-field,.input-group-special .input-field,.input-group-single .input-field{
    border:none; 
    font-size:1rem;
    border-bottom:1px solid #dedede;
}
.hidden{
    position:absolute;
    opacity: 0;
    visibility:hidden;
}
label{
    margin-top:.5em;
    color:#c4c4c4;
}


body {
    background-color: #f6f6f6;
}

.select_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 3em;
    margin-left: 3em;
    border-radius: 50px;
    height: 45rem;
    width: 60rem;
    background-color: white;
    padding: auto;
    text-align: center;
}

.c_container {
    float: right;
    height: 52rem;
    width: 35%;
    margin-top:-5rem;
    margin-right: 0rem;
    background: white;
    border-radius: 20px;
    
}

#calendar {
    height: 28.5em;
    width: auto;
    margin: 2rem;
    background-color: white;
}

.events_summ {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 1rem;
    width: 1rem;
    background-color: red;
    border-radius: 100%;
    white-space: nowrap;
}

h3 {
    margin: 0%;
}
.button_cont{
    width:auto;
   
}
.option{
    font-size: 1em;
    font: sans-serif;
    padding: 10px;
    background-color: #323468;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}
.option:hover{
    background-color:white;
    color:#23255D;
}

.chosen{
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 20px;
    height: 40rem;
    width: 62%;
    background-color: white;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.chosen h2 {
    font-size: 2rem; /* Increase font size */
    margin: 0; /* Remove default margin */
    color: lightgrey;
}

.content{
    margin-left:2rem;
   
    text-align:left;
    white-space: normal;
    
    
}

.content2{
    margin-left:2rem;
    text-align:left;
    white-space: normal;
    
}
.content2 input{   
    border-radius:5px;
    height:1.5rem;
    font-size:20px;
    border: 1px solid #DDDDDD;
    color:black;
}

.content2 button{
    float:right;
    margin-top:0.5rem;
    margin-right:5rem;
    height:3rem;
    width:6rem;
    border-radius:10px;
    background-color:green;
    color:white;
    border-style: 1px solid #DDDDDD ;
    cursor:pointer;
    transition-duration: .7s;
    
}
.content2 button:hover{
    transition-duration: .7s;
    color:green;
    background-color:white;
}

.content span{
    font-weight:lighter;
    border-bottom: 1px solid; 
    width: 52.4rem; /* Set width to auto to extend up to the very right */
    padding-bottom: 2px;
    display:inline-block

}
.message{
    height:14rem;
    width:54rem;
    background-color:#f2f2f2;
    overflow:auto;
    border-radius:20px ;
}

.flex-container {
display: flex;
}

.main-content h1 {
    font-size: 2em;
}

.filter,
.clearfilter {
    display: flex;
    padding: 7px;
    background-color: #5C5EB3;
    font-size: 1em;
    margin-right: 5px;
    color: white;
    border:2px solid black;
    cursor: pointer;
    border-radius: 5px;
}